* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 50vw;
    overflow: hidden;
    border: 2px solid black;
}

.image-holder {
    display: flex;
    height: 50vh;
    width: 50vw;
}

.photo {
}

.image-holder img {
    height: 100%;
    width: 50vw;
}

.buttons-container {
    display: flex;
}

.btn-holder {
    position:relative;
}

button {
    height: 5vh;
    width: 5vw;
}


.btn {
    height: 5vh;
    width: 5vw;
}

.left-arrow {
    border-radius: 50%;
    background-color:aqua;
}

.right-arrow {
    border-radius: 50%;
    background-color: aqua;
}
